* {
margin: 0;
padding: 0;
text-decoration: none;
box-sizing: border-box;
}

body {
font-family: "Montserrat", sans-serif;
background-color: #f8f8f8;
color: #333;
}

/* Cabeçalho */
header {
background-color: #19882c;
color: white;
padding: 10px 0;
}

.navbar {
background-color: transparent !important;
}

.navbar-brand img {
max-width: 100%;
height: auto;
}


.nav-link {
color: white !important;
}

.nav-link:hover {
text-decoration: underline !important;
}

.form-control {
background-color: transparent;
border: 1px solid white;
color: white;
}

.form-control::placeholder {
color: white;
}

#search-btn {
font-size: 0%;
}

#search-btn:hover,
#search-btn:active {
background-color: #006400 !important;
color: #fff !important;
}

.separar-linhas {
white-space: pre-line;
}

.separa {
white-space: pre-wrap;
}

.imagem-redimensionada {
width: 100%; /* ou um valor de sua preferência */
height: auto;
}

.image-container {
text-align: left; /* Alinha o conteúdo do contêiner à esquerda */
}

.image-container p {
margin: 0; /* Remove margens padrão do parágrafo para ficar alinhado corretamente */
}

/* Estilizando o footer */
.footer {
background-color: #19882c;
color: white;
padding: 20px 0;
}

.contact-list li {
margin-bottom: 10px;
font-size: 18px;
}

.contact-list a {
color: white;
text-decoration: none;
}

.contact-list a:hover {
text-decoration: underline;
}

.contact-list img {
width: 20px;
height: 20px;
margin-right: 10px;
}

.campus-info {
font-size: 24px; 
}

/* Estilos para telas pequenas (até 768px) */
@media screen and (max-width: 768px) {
    .navbar {
      padding: 5px 0;
    }
  
    .navbar-brand img {
      max-width: 100px;
      margin-left: 5px;
    }
  
    
    .form-control {
      width: 100%;
    }
  
    .navbar-brand{
      margin-bottom: 15px;
    }

    .navbar-nav{
      margin-right: 5px;
    }
  
    .d-flex{
      margin-left: 5px;
    }

    .image-container{
        margin-bottom: 20px;
    }
  
}
  
@media screen and (max-width: 425px) {
    .navbar-nav{
      width: 100%;
    }
}