* {
margin: 0;
padding: 0;
text-decoration: none;
box-sizing: border-box;
}

#search-btn {
font-size: 0%;
}

#search-btn:hover,
#search-btn:active {
background-color: #006400 !important;
color: #fff !important;
}

.separar-linhas {
white-space: pre-line;
}

.separa {
white-space: pre-wrap;
}

.titulo-estilizado {
font-family: "Montserrat", sans-serif; /* Fonte*/
font-size: 36px; /* Tamanho da fonte */
color: black; /* Cor do texto */
/*text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra de texto */
margin-top: 20px; /* Margem superior para dar espaço */
/*font-weight: bold; /* Texto em negrito */
/*text-transform: uppercase; /* Transforma o texto em maiúsculas */
/*text-align: center; /* Centralizar o texto */
}

.subtitulo-estilizado{
font-family: "Montserrat", sans-serif; /* Fonte*/
/*font-size: 36px; /* Tamanho da fonte */
color: black; /* Cor do texto */
/*text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra de texto */
/*margin-top: 20px; /* Margem superior para dar espaço */
font-weight: bold; /* Texto em negrito */
/*text-transform: uppercase; /* Transforma o texto em maiúsculas */
/*text-align: center; /* Centralizar o texto */  
}

.paragrafo-estilizado{
font-family: "Montserrat", sans-serif;
color: black;
text-align: justify;
}

.paragrafo-identado{
text-indent: 40px;
}

  /* Estilizando o footer */
.footer {
background-color: #19882c;
color: #fff;
padding: 20px 0;
}

/* Estilizando o texto do footer */
.footer p {
font-size: 24px;
margin: 0;
}

/* Estilizando a lista de contatos */
.contact-list {
list-style: none;
padding: 0;
}

.contact-list li {
margin-bottom: 10px;
font-size: 18px;
}

.contact-list a {
color: #fff;
text-decoration: none;
}

.contact-list a:hover {
text-decoration: underline;
}

.contact-list img {
width: 20px; /* Ajuste o tamanho da imagem conforme necessário */
height: 20px;
margin-right: 10px; /* Adiciona um espaço entre a imagem e o texto do contato */
}