* {
margin: 0;
padding: 0;
text-decoration: none;
box-sizing: border-box;
}

body {
font-family: "Montserrat", sans-serif;
background-color: #f8f8f8;
color: #333;
}

/* Cabeçalho */
header {
background-color: #19882c;
color: white;
padding: 10px 0;
}

.navbar {
background-color: transparent !important;
}

.navbar-brand img {
max-width: 100%;
height: auto;
}


.nav-link {
color: white !important;
}

.nav-link:hover {
text-decoration: underline !important;
}

.form-control {
background-color: transparent;
border: 1px solid white;
color: white;
}

.form-control::placeholder {
color: white;
}

.links-info:hover,
.links-info {
color: green !important;
}

#search-btn {
font-size: 0%;
}

.imagem-observacao {
max-width: 100%;
height: auto;
}

.separar-linhas {
white-space: pre-line;
}

.separa {
white-space: pre-wrap;
}

#search-btn:hover,
#search-btn:active {
background-color: #006400 !important;
color: #fff !important;
}

.titulo-estilizado {
font-family: "Montserrat", sans-serif; /* Fonte*/
font-size: 36px; /* Tamanho da fonte */
color: black; /* Cor do texto */
/*text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra de texto */
margin-top: 20px; /* Margem superior para dar espaço */
/*font-weight: bold; /* Texto em negrito */
/*text-transform: uppercase; /* Transforma o texto em maiúsculas */
text-align: center; /* Centralizar o texto */
}

.paragrafo-estilizado{
font-family: "Montserrat", sans-serif;
color: black;
text-align: justify;
text-indent: 60px;
}

.custom-text {
font-size: 20px;
}

.image-container {
position: relative;
width: 100%;
overflow: hidden;
margin-bottom: 30px;
}

.description-container {
bottom: 0;
left: 0;
width: 100%;
background-color: rgba(0, 0, 0, 0.7);
color: white;
position: relative;
width: 100%;
height: auto;
padding: 20px;
}

.description {
flex: 1;
/* Ocupa o espaço disponível */
}

.description p {
margin: 0;
}

/* Estilo personalizado para o botão com ícone */
.btn-custom-icon {
background-color: #19882c; /* Cor verde */
padding: 17px; /* Espaçamento interno para aumentar o tamanho do botão */
font-size: 24px; /* Tamanho do ícone */
line-height: 1; /* Centralizar verticalmente o ícone */
border: none; /* Remover a borda do botão */
}

/* Cor do ícone (branco) */
.btn-custom-icon .fa {
color: #fff;
}

/* Estilos para os ícones personalizados */
.custom-carousel-icon-prev,
.custom-carousel-icon-next {
display: inline-block;
position: relative;
width: 40px; /* Largura do ícone */
height: 40px; /* Altura do ícone */
border-radius: 50%; /* Transforma o ícone em um círculo */
overflow: hidden; /* Garante que o conteúdo dentro do círculo não vaze */
top: -25px;
}

.icon-background {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: black; /* Cor de fundo */
display: flex;
align-items: center;
justify-content: center;
}

.custom-carousel-icon-prev i,
.custom-carousel-icon-next i {
font-size: 25px; /* Tamanho do ícone */
color: #fff; /* Cor da seta */
}

/* Estilizando o footer */
.footer {
background-color: #19882c;
color: white;
padding: 20px 0;
}

.contact-list li {
margin-bottom: 10px;
font-size: 18px;
}

.contact-list a {
color: white;
text-decoration: none;
}

.contact-list a:hover {
text-decoration: underline;
}

.contact-list img {
width: 20px;
height: 20px;
margin-right: 10px;
}

.campus-info {
font-size: 24px; 
}

.imagens-passaros {
margin: 0;
padding: 0;
}

.espaco-direita {
padding-right: 5px;
}

.espaco-esquerda{
padding-left: 5px;
}

.invisivel{
color: rgba(76,76,76,255);
}

/* Estilos para dispositivos pequenos (até 576px) */
@media (max-width: 576px) {
    .titulo-estilizado {
        font-size: 24px; /* Reduzindo o tamanho do título */
    }

    .paragrafo-estilizado {
        font-size: 16px; /* Reduzindo o tamanho do parágrafo */
    }

    .imagens-passaros {
        margin-bottom: 15px; /* Espaçamento entre as imagens */
    }

    .espaco-direita,
    .espaco-esquerda {
        padding-right: 0;
        padding-left: 0;
    }
}

/* Estilos para dispositivos médios (maiores que 576px) até 768px */
@media (min-width: 577px) and (max-width: 768px) {
    .titulo-estilizado {
        font-size: 28px; /* Tamanho do título para dispositivos médios */
    }

    .paragrafo-estilizado {
        font-size: 18px; /* Tamanho do parágrafo para dispositivos médios */
    }
}

@media screen and (max-width: 425px) {
    .navbar-nav{
      width: 100%;
    }
}

/* Estilos para dispositivos grandes (maiores que 768px) até 992px */
@media (min-width: 769px) and (max-width: 992px) {
    .titulo-estilizado {
        font-size: 32px; /* Tamanho do título para dispositivos grandes */
    }

    .paragrafo-estilizado {
        font-size: 20px; /* Tamanho do parágrafo para dispositivos grandes */
    }

    .imagens-passaros {
        margin-bottom: 30px; /* Espaçamento entre as imagens */
    }
}

@media screen and (max-width: 768px) {
    .navbar {
      padding: 5px 0;
    }
  
    .navbar-brand img {
      max-width: 100px;
      margin-left: 5px;
    }
  
    
    .form-control {
      width: 100%;
    }
  
    .navbar-brand{
      margin-bottom: 15px;
    }

    .navbar-nav{
      margin-right: 5px;
    }
  
    .d-flex{
      margin-left: 5px;
    }

    .image-container{
        margin-bottom: 20px;
    }
  
}

/* Estilos para dispositivos ainda maiores (maiores que 992px) */
@media (min-width: 993px) {
    .titulo-estilizado {
        font-size: 36px; /* Tamanho do título para dispositivos maiores */
    }

    .paragrafo-estilizado {
        font-size: 24px; /* Tamanho do parágrafo para dispositivos maiores */
    }

    .imagens-passaros {
        margin-bottom: 30px; /* Espaçamento entre as imagens */
    }
}
